/* PAGE */
.ad-page {
  background: #f4f4f4;
  padding-bottom: 40px;
  margin-top: 30px;
}

/* BREADCRUMB */
.breadcrumb {
  max-width: 1200px;
  margin: 0 auto;
  background: #0d86e7;
  color: #fff;
  padding: 10px 16px;
  font-size: 14px;
}

.breadcrumb .active {
  font-weight: 600;
  text-decoration: underline;
}

/* CONTENT */
.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  padding: 30px 40px;
}

.main-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 6px;
}

.ad-page .sub-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
  color: black;
}

/* SECTION HEADINGS */
.ad-page .section-title {
  margin-top: 25px;
  margin-bottom: 8px;
  color: #007db8;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}

.section-title::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #007db8;
  margin-top: 6px;
}

/* TEXT */
.content-wrapper p {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
}

/* IMAGE BOX */
.image-box {
  border: 2px solid #f26b4f; /* red border */
  padding: 15px;
  margin-top: 15px;
  text-align: center;
}

.image-box img {
  max-width: 100%;
  height: auto;
}

/* DOWNLOADS TABLE */
.downloads-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.downloads-table th {
  background: #3f5367;
  color: #fff;
  padding: 10px;
  font-size: 14px;
}

.downloads-table td {
  border: 1px solid #dcdcdc;
  padding: 10px;
  font-size: 14px;
}

.download-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}