/* PAGE */
.agent-registration-page {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* BREADCRUMB */
.breadcrumb-box {
  background: #0b7dda;
  color: white;
  padding: 8px 15px;
  font-size: 14px;
  margin-bottom: 20px;
   margin-top: 15px;
}

.breadcrumb-box .link {
  color: yellow;
  margin: 0 5px;
}

/* TITLE */
.page-title {
  font-size: 22px;
  border-bottom: 3px solid #0b7dda;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

/* STEP WIZARD */
.step-box {
  margin: 25px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 20px;
}

.step-line {
  position: absolute;
  top: 45%;
  left: 40px;
  right: 40px;
  height: 2px;
  background: #ccc;
}

.step-item {
  text-align: center;
  z-index: 1;
}

.step-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #bbb;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.step-circle.active {
  background: #0bb35c;
  color: #fff;
  border-color: #0bb35c;
}

/* INSTRUCTIONS */
.instructions h3 {
  color: #0073b1;
  margin-top: 20px;
}

.red-text {
  color: red;
  font-weight: bold;
}

.guideline-link {
  color: purple;
  text-decoration: underline;
}

/* APPLICATION TYPE */
.application-row {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.application-type {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.application-type label {
  display: flex;
  align-items: center;
  gap: 6px;
}

.submit-btn {
  background: #0b7dda;
  color: #fff;
  border: none;
  padding: 8px 18px;
  cursor: pointer;
}

/* AGENT DETAIL */
.agent-detail-box {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.section-title {
  color: #0073b1;
  border-bottom: 3px solid #0b7dda;
  display: inline-block;
  padding-bottom: 5px;
}

.form-row {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.form-row input[type="text"] {
  padding: 6px;
  width: 220px;
}

.blue-btn {
  background: #0b7dda;
  color: #fff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}
/* ONE BIG OUTER BOX (LIKE AP RERA) */
.outer-box {
  border: 1px solid #dcdcdc;
  padding: 20px;
  margin-top: 15px;
}