.page-container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Breadcrumb */
.breadcrumb {
  background: #1580d4;
  color: white;
  padding: 10px;
  font-size: 14px;
}

/* Titles */
.main-title {
  font-size: 18px;
  margin: 20px 0;
  font-weight: unbold;
}

.section-title {
  color: #0b7a8f;
  font-size: 20px;
  border-bottom: 3px solid #0b7a8f;
  display: inline-block;
  margin: 5px 0 15px;
}

/* Vendor DB */
.vendor-db {
  text-align: right;
  margin-bottom: 20px;
}

.vendor-blink {
  color: red;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  animation: blinkText 1s infinite;
}
@keyframes blinkText {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}


/* Table */
.doc-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.doc-table th {
  background: #425a70;
  color: white;
  padding: 12px;
}

.doc-table td {
  padding: 12px;
  border: 1px solid #ddd;
}

.doc-table td:last-child {
  text-align: center;
  font-size: 20px;
}

/* Contact */
.contact-box {
  margin-top: 15px;
  line-height: 1.8;
}

.contact-title {
  color: #0056b3;
  font-weight: bold;
  font-size: 18px;
}

a {
  color: #0b67c2;
  font-weight: bold;
  text-decoration: none;
}
p {
  letter-spacing: 0.2px;
}
p {
  font-size: 14px;
  line-height: 1.7;
  text-indent: 40px;
  margin-bottom: 14px;
}