body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
}

/* PAGE */
.page-container {
  background: #fff;
  padding: 15px;
  border:2px gray solid;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 30px;
}

/* BREADCRUMB */
.breadcrumb {
  background: #1e90ff;
  color: #fff;
  padding: 8px 12px;
  font-size: 13px;
}

.breadcrumb .link {
  margin: 0 4px;
}

.breadcrumb .active {
  font-weight: bold;
}

/* INTRO */
.intro-section {
  display: flex;
  gap: 20px;
  padding: 20px 10px;
}

.intro-left {
  flex: 2;
}

.intro-left h2 {
  margin: 0;
}

.underline {
  width: 30px;
  height: 3px;
  background: #0b5aa3;
  margin: 8px 0 15px;
}

.intro-left p {
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
}

.intro-right {
  flex: 1;
  border: 1px solid #1e90ff;
  padding: 10px;
}

.intro-right img {
  width: 100%;
}

/* TIMELINE */
.timeline-container {
  position: relative;
  width: 90%;
  margin: 3px auto;
  margin-left: 50px;
  border: 2px solid gray;
  background-color: #f5f5f5;
}

.timeline-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #ccc;
  transform: translateX(-50%);

}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 20px 40px;
}

.timeline-item.left {
  left: 0;
  text-align: right;
}

.timeline-item.right {
  left: 50%;
  text-align: left;
}

.timeline-year {
  position: absolute;
  top: 20px;
  width: 44px;
  height: 44px;
  background: #ff9800;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.timeline-item.left .timeline-year {
  right: -22px;
}

.timeline-item.right .timeline-year {
  left: -22px;
}

/* CARD */
.timeline-card {
  padding: 14px 18px;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}

/* COLORS */
.timeline-card.blue { background: #2196f3; }
.timeline-card.red { background: #e53935; }
.timeline-card.green { background: #4caf50; }
.timeline-card.orange { background: #fb8c00; }