/* ===== Page Wrapper ===== */
.page-wrapper {
  background: #f4f4f4;
  padding: 20px 0;
  min-height: 100vh;
}

/* ===== Breadcrumb ===== */
.breadcrumb-bar {
  max-width: 1200px;
  margin: 0 auto 10px auto;
  background: #0d86e7;
  color: #fff;
  padding: 10px 16px;
  font-size: 14px;
}

.breadcrumb-bar span {
  font-weight: 500;
}

.breadcrumb-bar .active {
  font-weight: 600;
  text-decoration: underline;
}

/* ===== Main Content Box ===== */
.content-box {
  max-width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  padding: 30px 40px;
  border: 1px solid #dcdcdc;
}

/* ===== Titles ===== */
.page-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.section-title {
  font-size: 18px;
  font-weight: 600;
  /* margin-top: 25px; */
  margin-bottom: 8px;
  color: #000;
  position: relative;
}

.section-title::after {
  content: "▶";
  display: block;
  width: 35px;
  height: 2px;
  background: #0d86e7;
  margin-top: 6px;
}

.content-box .sub-title {
  font-size: 15px;
  font-weight: 600;
  margin-top: 16px;
  color: #0d86e7;

}

/* ===== Text ===== */
.content-text {
  font-size: 14px;
  line-height: 1.7;
  color: #000;
  margin-top: 10px;
}

/* ===== Lists ===== */
.bullet-list {
  margin: 10px 0 0 18px;
  font-size: 14px;
}

.bullet-list li {
  margin-bottom: 6px;
}

/* ===== ▶ Bullet List ===== */
.bullet-list {
  list-style: none !important;
  margin: 8px 0 15px 20px;
  padding: 0;
  font-size: 14px;
}

.bullet-list li {
  position: relative;
  padding-left: 18px;
  margin-bottom: 6px;
  line-height: 1.6;
  color: #000;
}

/* ▶ Arrow */
.bullet-list li::before {
  content: "▶";
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 10px;
  color: #000;
}