/* .hero {
  background: url("https://i.pinimg.com/1200x/19/08/8b/19088b4df084b9b7b997316f313b3a46.jpg") center/cover no-repeat;
  padding: 60px 30px 40px;
  text-align: center;
  position: relative;
} */
.hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 30px 40px;
  position: relative;
  transition: background-image 1s ease-in-out;
}


.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero-title {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 40px;
}

/* LEADERS */
.hero-leaders {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.hero-leader-card {
  text-align: center;
  width: 260px;
}

.hero-leader-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 6px solid #0a5ca8;
  object-fit: cover;
  background: #fff;
}

/* BLUE NAME BOX */
.hero-leader-info {
  background: #0a5ca8;
  color: #fff;
  padding: 14px 10px;
  margin-top: -10px;
  border-radius: 4px;
}

.hero-leader-info h4 {
  font-size: 15px;
  margin: 0;
  font-weight: bold;
}

.hero-leader-info p {
  font-size: 13px;
  margin: 6px 0 0;
  line-height: 1.4;
}
.hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 30px 40px;
  text-align: center;
  position: relative;
  transition: background-image 1.2s ease-in-out;
}

/* DARK OVERLAY */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero-title {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 40px;
}

/* LEADERS */
.hero-leaders {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.hero-leader-card {
  text-align: center;
  width: 260px;
}

.hero-leader-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 6px solid #0a5ca8;
  object-fit: cover;
  background: #fff;
}

/* NAME BOX */
.hero-leader-info {
  background: #0a5ca8;
  color: #fff;
  padding: 14px 10px;
  margin-top: -10px;
  border-radius: 4px;
}

.hero-leader-info h4 {
  font-size: 15px;
  margin: 0;
  font-weight: bold;
}

.hero-leader-info p {
  font-size: 13px;
  margin: 6px 0 0;
  line-height: 1.4;
}