.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background: #ffffff;
}

.logo h2 {
  margin: 0;
  color: #0b4da2;
}

.logo p {
  margin: 0;
  font-size: 12px;
  color: #555;
}

.search-btn {
  background: red;
  color: #fff;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: bold;
}

.navbar {
  background: #0b4da2;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 30px;
}

.navbar li {
  color: #fff;
  padding: 14px 16px;
  cursor: pointer;
  font-size: 14px;
}

.navbar li:hover {
  background: #083a78;
}

.highlight {
  background: #ff0000;
}