.race-page {
  display: flex;
  justify-content: center;
  background: #f5f5f5;
  padding: 30px 0;
  border :2px solid gray;
  
}

.race-container {
  display: flex;
  background: #ffffff;
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  gap: 50px;
  border: gray 2px solid;
}

.race-content {
  flex: 2;
  font-size: 14px;
  line-height: 1.7;
}
.race-content-1{
  flex: 2;
  font-size: 14px;
  line-height: 1.7;
}
.breadcrumb {
  background: #1e90ff;
  color: #fff;
  padding: 8px 10px;
  font-size: 13px;
}

.breadcrumb span {
  text-decoration: underline;
  cursor: pointer;
}

.race-title {
  color: #d80000;
  margin: 5px 0;
  font-size: 20px;
}

.race-title::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background: #1e90ff;
  margin-top: 5px;
}
.race-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #1e90ff;
  margin-top: 5px;
}

.sub-title {
  margin-top: 20px;
  color: black;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin: 25px 0 10px;
}
.sub-title::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background: #1e90ff;
  margin-top: 5px;
}
.sub-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #1e90ff;
  margin-top: 5px;
}

.race-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.race-image img {
  width: 400px;
  max-width: 500px;
  border: 1px solid #ccc;
}
.race-continuation {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.8;
}

.section-title {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin: 25px 0 10px;
  position: relative;
  padding-bottom: 6px;
}

.section-title::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background: #1e90ff;
  margin-top: 5px;
}
.section-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #1e90ff;
  margin-top: 5px;
}

.sub-heading {
  color: #008cba;
  font-size: 17px;
  margin: 20px 0 8px;
}
h4
{
  color: #008cba;
  font-size: 17px;
  margin: 20px 0 8px;
}

.race-continuation p {
  margin-bottom: 12px;
  text-align: center;
}
.race-section {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.race-text {
  flex: 2;
  font-size: 14px;
  line-height: 1.6;
}
.vdc-section {
  /* display: flex; */
  gap: 20px;
  margin-top: 30px;
}

.vdc-text {
  flex: 2;
  font-size: 14px;
  line-height: 1.6;
}
.vdc-firstpara{
  display: flex;
  flex: 2;
}

.vdc-text ul {
  margin-left: 20px;
}

.vdc-text li {
  margin-bottom: 6px;
}

.vdc-image {
  flex: 1;
}

.vdc-image img {
  width: 500px;
  height: auto;
  border: 1px solid #ccc;
}